{% if drone_rpc_server is defined %}
DRONE_RPC_SERVER={{ drone_rpc_server }}
{% endif %}
{% if drone_rpc_secret is defined %}
DRONE_RPC_SECRET={{ drone_rpc_secret }}
{% endif %}
{% if drone_runner_capacity is defined %}
DRONE_RUNNER_CAPACITY={{ drone_runner_capacity }}
{% endif %}
DRONE_LOGS_DEBUG=true
{% if drone_runner_name is defined %}
DRONE_RUNNER_NAME={{ drone_runner_name }}
{% endif %}
{% if drone_docker_config is defined %}
DRONE_DOCKER_CONFIG={{ drone_docker_config }}
{% endif %
