{% if drone_server_host is defined %}
DRONE_SERVER_HOST={{ drone_server_host }}
{% endif %}
{% if drone_server_proto is defined %}
DRONE_SERVER_PROTO={{ drone_server_proto }}
{% endif %}
{% if drone_tls_autocert is defined %}
DRONE_TLS_AUTOCERT={{ drone_tls_autocert }}
{% endif %}
{% if drone_rpc_secret is defined %}
DRONE_RPC_SECRET={{ drone_rpc_secret }}
{% endif %}
{% if drone_database_secret is defined  and drone_database_secret != "" %}
DRONE_DATABASE_SECRET={{ drone_database_secret }}
{% endif %}
{% if drone_agents_enabled is defined %}
DRONE_AGENTS_ENABLED=true
{% endif %}
{% if drone_logs_debug is defined %}
DRONE_LOGS_DEBUG=true
{% endif %}
{% if drone_logs_trace is defined %}
DRONE_LOGS_TRACE=true
{% endif %}
{% if drone_logs_nocolor is defined %}
DRONE_LOGS_NOCOLOR=true
{% endif %}
{% if drone_logs_pretty is defined %}
DRONE_LOGS_PRETTY=true
{% endif %}
{% if drone_logs_text is defined %}
DRONE_LOGS_TEXT=true
{% endif %}
{% if drone_user_create is defined %}
DRONE_USER_CREATE={{ drone_user_create }}
{% endif %}
{% if drone_user_filter is defined %}
DRONE_USER_FILTER={{ drone_user_filter }}
{% endif %}
{% if drone_database_driver is defined and drone_database_driver != "sqlite" %}
DRONE_DATABASE_DRIVER={{ drone_database_driver }}
{% endif %}
{% if drone_database_datasource is defined and drone_database_driver != "sqlite" %}
DRONE_DATABASE_DATASOURCE={{ drone_database_datasource }}
{% endif %}
{% if drone_github_client_id != "" and drone_github_client_secret != "" %}
DRONE_GITHUB_SERVER=https://github.com
DRONE_GITHUB_CLIENT_ID={{ drone_github_client_id }}
DRONE_GITHUB_CLIENT_SECRET={{ drone_github_client_secret }}
DRONE_GITHUB_DEBUG={{ drone_github_debug }}
{% endif %}
{% if drone_gitlab_client_id != "" and drone_gitlab_client_secret != "" %}
DRONE_GITLAB_SERVER={{ drone_gitlab_server }}
DRONE_GITLAB_CLIENT_ID={{ drone_gitlab_client_id }}
DRONE_GITLAB_CLIENT_SECRET={{ drone_gitlab_client_secret }}
DRONE_GITLAB_DEBUG={{ drone_github_debug }}
{% endif %}
{% if drone_gitea_client_id != "" and drone_gitea_client_secret != "" %}
DRONE_GITEA_SERVER={{ drone_gitea_server }}
DRONE_GITEA_CLIENT_ID={{ drone_gitea_client_id }}
DRONE_GITEA_CLIENT_SECRET={{ drone_gitea_client_secret }}
DRONE_GITEA_SKIP_VERIFY={{ drone_gitea_skip_verify }}
DRONE_GITEA_DEBUG={{ drone_gitea_debug }}
{% endif %}
{% if drone_bitbucket_client_id != "" and drone_bitbucket_client_secret != "" %}
DRONE_BITBUCKET_CLIENT_ID={{ drone_bitbucket_client_id }}
DRONE_BITBUCKET_CLIENT_SECRET={{ drone_bitbucket_client_secret }}
DRONE_BITBUCKET_SKIP_VERIFY={{ drone_bitbucket_skip_verify }}
DRONE_BITBUCKET_DEBUG={{ drone_bitbucket_debug }}
{% endif %}
{% if drone_stash_server is defined and drone_stash_server != "" %}
DRONE_STASH_SERVER={{ drone_stash_server }}
DRONE_STASH_CONSUMER_KEY={{ drone_stash_consumer_key }}
DRONE_STASH_CONSUMER_SECRET={{ drone_stash_consumer_secret }}
DRONE_STASH_PRIVATE_KEY={{ drone_stash_private_key }}
DRONE_STASH_SKIP_VERIFY={{ drone_stash_skip_verify }}
DRONE_STASH_DEBUG={{ drone_stash_debug }}
{% endif %}
{% if drone_stash_server is defined and drone_gogs_server != "" %}
DRONE_GOGS_SERVER={{ drone_gogs_server }}
DRONE_GOGS_SKIP_VERIFY={{ drone_gogs_skip_verify }}
DRONE_GOGS_DEBUG={{ drone_gogs_debug }}
{% endif %}
{% if aws_access_key_id != "" and aws_secret_access_key != "" %}
AWS_ACCESS_KEY_ID={{ aws_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ aws_secret_access_key }}
AWS_DEFAULT_REGION={{ aws_default_region }}
AWS_REGION={{ aws_region }}
DRONE_S3_BUCKET={{ drone_s3_bucket }}
{% endif %}
{% if drone_kubernetes_enabled == True %}
DRONE_KUBERNETES_ENABLED={{ drone_kubernetes_enabled }}
DRONE_KUBERNETES_NAMESPACE={{ drone_kubernetes_namespace }}
DRONE_KUBERNETES_CONFIG_PATH={{ drone_kubernetes_config_path }}
DRONE_KUBERNETES_CONFIG_URL={{ drone_kubernetes_config_url }}
DRONE_KUBERNETES_TTL_AFTER_FINISHED={{ drone_kubernetes_ttl_after_finished }}
DRONE_KUBERNETES_SERVICE_ACCOUNT={{ drone_kubernetes_service_account }}
DRONE_KUBERNETES_IMAGE_PULL={{ drone_kubernetes_image_pull }}
DRONE_KUBERNETES_IMAGE={{ drone_kubernetes_image }}
{% endif %}
{% if drone_cookie_secret is defined %}
DRONE_COOKIE_SECRET={{ drone_cookie_secret }}
{% endif %}
{% if drone_cookie_secure is defined %}
DRONE_COOKIE_SECURE=true
{% endif %}
{% if drone_legacy_token_mapping_file is defined %}
DRONE_LEGACY_TOKEN_MAPPING_FILE={{ drone_legacy_token_mapping_file }}
{% endif %}
{% if drone_cookie_timeout is defined %}
DRONE_COOKIE_TIMEOUT={{ drone_cookie_timeout }}
{% endif %}
{% if drone_authentication_endpoint is defined %}
DRONE_AUTHENTICATION_ENDPOINT={{ drone_authentication_endpoint }}
{% endif %}
{% if drone_authentication_token is defined %}
DRONE_AUTHENTICATION_TOKEN={{ drone_authentication_token }}
{% endif %}
{% if drone_authentication_skip_verify is defined %}
DRONE_AUTHENTICATION_SKIP_VERIFY=true
{% endif %}
{% if drone_repository_filter is defined %}
DRONE_REPOSITORY_FILTER={{ drone_repository_filter }}
{% endif %}
{% if drone_webhook_endpoint is defined %}
DRONE_WEBHOOK_ENDPOINT={{ drone_webhook_endpoint }}
{% endif %}
{% if drone_webhook_secret is defined %}
DRONE_WEBHOOK_SECRET={{ drone_webhook_secret }}
{% endif %}
{% if drone_webhook_skip_verify is defined %}
DRONE_WEBHOOK_SKIP_VERIFY={{ drone_webhook_skip_verify }}
{% endif %}
